  <div class="container-fluid p-4">
      <div class="row">
          <div class="col-md-10 col-lg-12 ">
              <h2>Nuevo Registro</h2>
              <form [formGroup]="registerForm" (ngSubmit)="addItem()" >
                    <div class="form-row">
                  <div class="form-group col-md-6 col-lg-4">
                      <input [(ngModel)]="item.name" name="name" placeholder="Nombre*" type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                      <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                          <div *ngIf="f.name.errors.required">Es necesario escribir un nombre</div>
                      </div>
                  </div>
                  <div class="form-group col-md-6 col-lg-4">
                      <input [(ngModel)]="item.firstName" name="firstName" placeholder="Primer apellido" type="text" formControlName="firstName" class="form-control" />
                  </div>
                    
                  <div class="form-group col-md-6 col-lg-4">
                      <input [(ngModel)]="item.rfc" name="rfc"  placeholder="RFC" type="text" formControlName="rfc" class="form-control" />
            
                  </div>
                  <div class="form-group col-md-6 col-lg-4">
                      <input [(ngModel)]="item.age" name="age" placeholder="Edad" type="text" formControlName="age" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.age.errors }" />
                      <div *ngIf="submitted && f.age.errors" class="invalid-feedback">
                          <div *ngIf="f.age.errors">Sólo se pueden escribir dos digitos númericos</div>
                      </div>
                  </div>
                  
                  <div class="form-group col-md-6 col-lg-4">
                      <input [(ngModel)]="item.phone" name="phone" placeholder="Teléfono" type="text" formControlName="phone" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
                      <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                          <div *ngIf="f.phone.errors">Número telefónico de 10 dígitos</div>
                      </div>
                  </div>
                  <div class="form-group col-md-6 col-lg-4">
                      <input [(ngModel)]="item.email" name="email" placeholder="Email*" type="text" formControlName="email" class="form-control" (focusout)="emailcheck($event)" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                          <div *ngIf="f.email.errors.required">Es necesario escribir un email</div>
                          <div *ngIf="f.email.errors.email">Debe escribir una dirección de correo válida</div>
                      </div>
                      <div class="text-danger" style="font-size: .8em;">{{status}}</div>
                    </div>
                  <div class="form-group col-md-6 col-lg-4">
                      <input [(ngModel)]="item.password" name="password" placeholder="Password*" type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                          <div *ngIf="f.password.errors.required">Es necesario escribir un password</div>
                          <div *ngIf="f.password.errors.minlength">El Password debe tener mínimo 6 caracteres</div>
                      </div>
                  </div>
                  </div>
                  <div class="form-group text-center">
                      <button  class="btn btn-danger">Registrar</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
