<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="registy-tab" data-toggle="tab" href="#registry" role="tab" aria-controls="registry" aria-selected="false">Registrar</a>
    </li>
    <li class="nav-item ">
      <a class="nav-link " id="data-tab" data-toggle="tab" href="#data" role="tab" aria-controls="data" aria-selected="false">Registros</a>
    </li>
    <li class="nav-item">
        <a class="nav-link"  data-toggle="tab" role="tab" aria-controls="sign-out" aria-selected="false" (click)="logoutUser()" routerLink="/">Cerrar sesión</a>
      </li>
  </ul>
  <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="registry" role="tabpanel" aria-labelledby="registry-tab"><app-registry-data></app-registry-data></div>
      <div class="tab-pane fade" id="data" role="tabpanel" aria-labelledby="data-tab"><app-data></app-data></div>
    </div>
