section {
background-image: url('../../../assets/images/fondo-red.jpg');
background-size: cover;
width: 100vw;
height: 40vh;
justify-content: center;
align-items: center;
}
section img {
    width: 800px;
    height: 250px;
}

.carousel{
    width: 50vw;
}

.mask{
    background-color: rgb(0,0,0,0.5);
    width:800px;
    height: 250px;
    position:absolute;
    overflow: hidden;
    top:0;
}