section{
    background-image: url('../../../assets/images/pyme-mujer.jpg');
    background-size: cover;
    background-position: 80% 20%;
    height: 100vh;
    display: flex;
    justify-items: center;
    align-items: center;
}


.btn-google{
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.btn-google i{
    color: #fff;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    margin: 25px;
}

@media (min-width: 768px) and (max-width: 991px) { 
    section{
        background-position: 20%;
    }
 }

 @media (min-width: 992px) {
    section{
        background-position: 40%;
    }
    .row {
        justify-content: flex-end;
    }
  }

